asgiref==3.3.4
Django==3.2.4
psycopg2-binary==2.8.6
setuptools==57.0.0
construct==2.10.67
dnslib==0.9.16
dnspython==2.1.0
hiredis==2.0.0
ocsp-checker==1.8.1
pyOpenSSL==20.0.1
redis==3.5.3
APScheduler==3.7.0
cryptography==3.4.7
pyasn1==0.4.8
requests==2.25.1
urllib3==1.26.5
validators==0.18.2




